body, html { 

  padding: 0px;
  margin: 0px;

}

main {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100vw - 240px);
  margin-left: 240px;
  padding: 25px;
}

main > .inner {

  max-width: 800px;
  margin: 100px auto;

}

p {

  font-family: sans-serif;
  line-height: 1.6;
  font-weight: 300;
  text-align: justify;

}